body{margin:0;padding:0;}
.scroll_area{width: 1050px;height:150px;border:1px solid #666666;position:relative;overflow:hidden;display:block;}
.scroll_ul{width:9999px;position:relative;overflow:hidden;clear:both;*zoom:1;padding:0;margin:0;}
.scroll_ul li{width:200px;text-align:center;list-style:none;float:left;padding:5px;padding-top:20px;}
.scroll_ul li a{border: none;padding:0;margin:0;}
.scroll_ul li a img{border: none;padding:0;margin:0;}
#prevA,#nextA{cursor: pointer;position:absolute;}
#prevA{top:0;left:0;}
#nextA{top:0;right:0;}